@import url('https://fonts.cdnfonts.com/css/open-sans');
@import "tailwindcss";
@import 'primeicons/primeicons.css';

#app {
    padding: 2rem;
    padding-bottom: 0;
    background-color: #fffff1;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
}